h1 {
  margin: 24px 0;
  font-size: 32px;
}

h2 {
  margin: 8px 0;
}

#root {
  overflow: auto;
  padding: 24px;
}

.mini-panels {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.panel {
  border-radius: 8px;
  background-color: #cccccc;
  padding: 16px 24px;
  min-width: 100px;
}

.button-row {
  display: flex;
  gap: 12px;
}

.board {
  overflow-x: auto;
  margin-bottom: 12px;
}

.stats {
  min-height: 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  height: 100px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 400;

  button {
    position: relative;
    overflow: auto;
    border-radius: 0;
    width: 100px;
    height: 100%;
    padding: 8px;
    margin: 0;
  }

  button:focus {
    outline: 4px dashed black;
    outline-offset: -4px;
  }

  svg {
    opacity: 5%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    line {
      stroke: black;
      stroke-width: 10;
    }
  }

  p {
    margin: 0;
  }
}

.current {
  background-color: lightblue;
}

.checked {
  background-color: green;
}

.bingo {
  font-size: 18px;
  padding: 16px;
}

.timer-buttons {
  display: flex;
  gap: 8px;
}